/* .become-member{

padding:120px 20px;

background:#f5f7fa;

}

.membership-form{

padding:50px;

border-radius:20px !important;

box-shadow:0 15px 40px rgba(0,0,0,.08) !important;

}

.membership-form .MuiTextField-root{

margin-bottom:10px;

}

.membership-form button{

margin-top:20px;

padding:15px;

font-size:17px;

font-weight:700;

border-radius:35px;

}

@media(max-width:768px){

.membership-form{

padding:30px 20px;

}

.become-member{

padding:90px 15px;

}

} */

.become-member{
padding:150px 20px 80px;
background:#f8f9fa;
}

.membership-form{
padding:50px;
border-radius:20px !important;
box-shadow:0 10px 30px rgba(0,0,0,.08) !important;
}

.form-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.full-width{
grid-column:1/-1;
}

@media(max-width:768px){

.form-grid{
grid-template-columns:1fr;
}

.membership-form{
padding:30px 20px;
}

}