.navbar{
    background:#F28A13 !important;
    transition:.4s;
    padding:0 0 12px 0;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
}

.navbar-scrolled{
    background:#F28A13 !important;
    padding:0 0 12px 0;
}

/* Announcement Bar */

.announcement-bar{
    background:#0B9B42;
    color:#fff;
    font-size:.85rem;
    font-weight:500;
    padding:6px 0;
    width:100%;
    border-bottom:2px solid #ffffff30;
    margin-bottom:12px;
}

.announcement-bar marquee{
    display:block;
    width:90%;
    margin:auto;
}

/* Navbar */

.navbar-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-wrapper{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    flex-shrink:0;
}

.club-logo{
    width:65px;
    height:65px;
    object-fit:cover;
    border-radius:50%;
    transition:.3s;
}

.club-name{
    font-size:1.3rem !important;
    font-weight:700 !important;
    color:#0B9B42;
    line-height:1.1;
}

.club-subtitle{
    color:#444;
    font-size:.9rem !important;
    line-height:1.1;
}

.desktop-menu{
    display:flex;
    align-items:center;
    gap:30px;
}

.nav-link{
    text-decoration:none;
    color:#222;
    font-weight:600;
    position:relative;
    transition:.3s;
}

.nav-link:hover{
    color:#0B9B42;
}

.active{
    color:#0B9B42;
}

.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:3px;
    background:#F28A13;
    border-radius:20px;
}

.mobile-menu{
    display:none !important;
}

/* ===========================
   TABLET
=========================== */

@media(max-width:900px){

.desktop-menu{
    display:none;
}

.mobile-menu{
    display:flex !important;
    align-items:center;
    justify-content:center;
    width:56px !important;
    height:56px !important;
    border-radius:50%;
}

.mobile-menu svg{
    font-size:2.2rem !important;
}

.club-logo{
    width:68px;
    height:68px;
}

.club-name{
    font-size:1.18rem !important;
    font-weight:800 !important;
}

.club-subtitle{
    font-size:1rem !important;
    font-weight:600;
}

.logo-wrapper{
    gap:14px;
}

.announcement-bar{
    font-size:.82rem;
}

}

/* ===========================
   SMALL PHONES
=========================== */

@media(max-width:480px){

.navbar-container{
    width:94%;
}

.club-logo{
    width:74px;
    height:74px;
}

.club-name{
    font-size:1.28rem !important;
    font-weight:800 !important;
}

.club-subtitle{
    font-size:1.08rem !important;
    font-weight:600;
}

.logo-wrapper{
    gap:12px;
}

.mobile-menu{
    width:60px !important;
    height:60px !important;
}

.mobile-menu svg{
    font-size:2.5rem !important;
}

.announcement-bar{
    font-size:.78rem;
}

}