:root{

--primary:#0B9B42;

--secondary:#F28A13;

--accent:#D62828;

--dark:#222222;

--light:#f8f9fa;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:var(--light);

color:var(--dark);

overflow-x:hidden;

}

img{

max-width:100%;

display:block;

}

a{

text-decoration:none;

}

.app{

min-height:100vh;

display:flex;

flex-direction:column;

}

main{

flex:1;

}