.stats{

background:#0B9B42;

padding:80px 0;

color:white;

}

.stats-container{

display:grid;

grid-template-columns:repeat(4,1fr);

max-width:1200px;

margin:auto;

text-align:center;

}

.stat h2{

font-size:3rem;

}

.stat p{

margin-top:10px;

font-size:1.2rem;

}

@media(max-width:900px){

.stats-container{

grid-template-columns:repeat(2,1fr);

gap:40px;

}

}